
:root {
  --color-black: #000000;
  --primary-color: #FFFFFF;
  --color-dark-gray: #071629; 
  --bar1-width: 1.52rem;
  --bar-input-width: .812rem;
  --bar3-width: 1.12rem;
  --bar-height: .125rem;
  --hamburger-gap: .25rem;
  --color-orange: #FF6565;

}




body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}





/* header
============================= */

header {
  height: 800px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bg_container {
  background-image: url(images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 800px;
  margin: 0;
  display: flex;
  width: 100%;
}




.section_links {
  height: 31px;
  width: 71.42%;
  margin: 28px 14.24%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

}

header img {
  width: 161px;
  height: 32px;
  display: flex;
}

header ul {
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--primary-color);
  font-size: 12px;
}

header ul a {
  text-decoration: none;
  color: var(--primary-color);
}

header ul a:hover {
  color: #FF6565;
}

header section {
  height: 313px;
  width: 45.5%;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 344px 381px 115px 382px;
  background-color: transparent;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--primary-color);
}

header h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.subtitle {
  font-size: 16px; 
  margin-top: 0;
}

.basic_text {
  font-weight: 400;
  font-size: 16px;
  font-family: "SSP text", sans-serif;
  justify-content: space-around;
}

button {
  background-color: #FF6565;
  border-radius: 22px;
  height: 44px;
  width: 162px;
  border: none;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
  padding: 13px 31px;
  font-family: "Source Sans Pro";
  color: var(--primary-color);
  align-items: center;
}

/* hamburger menu
================================== */

#burger-check {
  width: 30px;
  transition: all .2s ease-in-out;
}

#burger-check:checked {
  width: 4px;
}

#burger-label {
  order: -1;
  top: 0%;
  left: 0%;
  display: none;
  cursor: pointer;
  position: relative;
  user-select: none;
  padding: 2.5rem;
}

#burger-line,
#burger-line::before,
#burger-line::after {
  position: relative;
  display: block;
  background: var(--primary-color);
  height: .15rem;
  width: 1.2rem;
  transition: all .2s ease-in-out;
}

#burger-line::before {
  position: absolute;
  content: "";
  width: 1.7rem;
  top: -0.5rem;
}

#burger-line::after {
  position: absolute;
  content: "";
  width: 1.7rem;
  top: 0.5rem;
}


#burger-check:checked~* #burger-line::before {
  top: 0;
  left: 0;
  transform: rotate(45deg);
}

#burger-check:checked~* #burger-line {
  background-color: transparent;
  width: 0rem;
}

#burger-check:checked~* #burger-line::after {
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

/* What we do
================================== */
.whatitdo {
  display: flex;
  width: 39.8rem;
  height: 11.5rem;
  margin-top: 6.87rem;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.whatitdo h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
}

.whatitdo p {
  font-family: 'SSP', sans-serif;
  font-size: 1rem;
}

.whatitdo .body_section {
  align-items: flex-start;
}

.body_section {
  display: flex;
  align-items: center;
  height: 40.625rem;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whaticon p {
  font-family: 'SSP', sans-serif;
  font-size: 1rem;

}

.whaticon h3 {
  font-family: 'SSP', sans-serif;
}

.whaticon {
  color: var(--color-black);
    height: auto;
    text-align: center;
    margin: auto;
    display: flex;
    padding: 70px;
    margin-bottom: 110px;
    max-width: 1000px;
    flex-direction: column;
}
.holberton_school-icon-ic_sound,
.holberton_school-icon-ic_video,
.holberton_school-icon-ic_music,
.holberton_school-icon-ic_hearing {
    color: var(--color-orange);
    font-size: 5rem;
}



/* Results Section 
================================== */
.results {
  background-image: url(images/headphones_hero_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
  z-index: 1;
}

.resultwords {
  font-family: 'SSP', sans-serif;
  display: flex;
  width: 39.8rem;
  height: 11.5rem;
  margin-top: 6.87rem;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.resulticons {
  text-align: center;
  display: flex;
  margin: 56px 0 79px 0;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.result {
  background-image: url(images/pentagone.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 190px;
  height: 190px;
  background-size: contain;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.result div {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 190px;
  height: 190px;
  padding: 1rem;
}

.result h1, p {
  font-family: 'SSP', sans-serif;
}

.result h1, .result p{
  font-size: 2.87rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result p {
  font-size: 14px;
  display: flex;
}
/* contact us */

.section-title {
  text-align: center;
  align-items: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
  color: #071629;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 56px;
}

.cta-button {
  box-shadow: none;
}
form {
  width: 335px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  }

.contactus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 335px;
  height: 373px;
}

.contactus-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40.625rem;
}

.contactus p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

form input,
textarea {
  font-family: 'SSP', sans-serif;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-dark-gray);
  width: 100%;
  margin-bottom: 45px;;
}

textarea {
  resize: none;
}

/* footer */

footer {
  height: 249px;
  background-color: var(--color-dark-gray);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


footer a {
  list-style: none;
  text-decoration: none;
  font-family: 'holberton_school-icon';
  color: white;
}

.new {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footline {
  background-image: url('images/logo_headphones.png');
  background-repeat: no-repeat;
  width: 200px;
  height: 35px;
  background-size: 90% auto;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  flex-direction: row;
  color: var(--color-white);
}

footer .social span {
  font-size: 40px;
  margin: 3px;
  height: 30px;
}


#copyright {
  color: #FFF;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0;
}



/* tablet media query
=================================== */
@media (max-width: 768px) {
  .bg_container {
    height: 800px;
    background-size: cover;
  }

  header section {
    width: 637px;
    margin: 372px 65px 115px 66px;
  }
}

/* mobile phone media query
================================== */

@media (max-width: 375px) {
  .hamburgs {
    display: flex;
  }

  .bg_container {
    height: 869px;
    width: 100%;
    background-position: 38% 50%;
    }

  nav {
    display: none;
  }

  .section_links {
    width: 247px;
    justify-content: space-between;
    margin-left: 1.5rem;
    }
   
  ul a {
    display: none;
  }

  header section {
    margin: 20rem 0.5rem 0;
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
  }

  .subtitle {
    width: 17.43rem;
    margin: auto;
  }

  .basic_text{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }
  }

@font-face {
  font-family: 'Source Sans Pro';
  src: url('source-sans-pro/SourceSansPro-Bold.otf');
}

@font-face {
  font-family: 'SSP text';
  src: url('source-sans-pro/SourceSansPro-Light.otf');
}

@font-face {
  font-family: 'holberton_school-icon';
  src: url('holberton_school-icon/style.css');
}

