/* Variables
============================= */

:root {

}





/* header
============================= */

.header {
  width: 80%;
  justify-content: space-between;
  display: flex;
  margin: auto;
  height: 32px;

}

.menu {
  display: flex;
}

.menu .div {
  margin-right: 41px;
}

.menu:hover {
  color: #FF6565;
}
